{% extends "layout.html" %}
{% block title %}{{ gettext("Reset Password") }} - {% endblock %}
{% block static %}
  <!-- javascript files -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(function(){ 
      $(".nav_submit a").click(function(e){
        e.preventDefault();
        $(".submit_popup").attr("style", "");
      });

      $("form.form_comment textarea").focus(function(){
        $(".submit_popup").attr("style", "");
      });


      $(".sign_in_form #Submit").live('click', function(){
        var params = $(this).parents("form").serialize();
        $.ajax({
          type: 'POST',
          url: '{{ url_for("sign_in") }}',
          data: {data: params},
          success: function(data, status, xhr) {
            if (xhr.status === 200 && data.res == "success") {
              window.location.reload();
            } else if (data.op == "sign_in") {
              $(".sign_in_form").find(".error").html(data.res);
            }
          },
          error: function(data, status, xhr) {
            alert("failure");
          }
        });
      });

      $(".sign_up_form #Submit").live('click', function(){
        var params = $(this).parents("form").serialize();
        $.ajax({
          type: 'POST',
          url: $(this).parents("form").attr("action"),
          data: {data: params},
          success: function(data, status, xhr) {
            if (xhr.status === 200 && data.res == "success") {
              window.location.reload();
            } else if (data.op == "sign_up") {
              $(".sign_up_form").find(".error").html(data.res);
            }
          },
          error: function(data, status, xhr) {
            alert("failure");
          }
        });
      });

      $(".resetpassword_form #Submit").live('click', function(){
        var re = new RegExp("^[a-zA-Z0-9]+$");
        if ($("#newpassword").val() === "" || $("#verifypassword").val() === "") {
          $(".resetpassword_form").find(".error").html("{{ gettext('Enter passwords') }}");
        } else {
          var params = $(this).parents("form").serialize();
          $.ajax({
            type: 'POST',
            url: '/resetpassword/receiver'+'?keyforreset='+location.href.split("/").pop(),
            data: {data: params},
            success: function(data, status, xhr) {
              if (xhr.status === 200 && data.res == "success") {
                location.href = "{{ url_for("index") }}";
              } else if (data.res == "error") {
                $(".resetpassword_form").find(".error").html(data.message);
              }
            },
            error: function(data, status, xhr) {
              alert("failure");
            }
          });
        }
      });

    });

    function hidecover(where) {
      $(where).parents(".bigcover").hide();
      return false;
    };
  </script>
{% endblock %}

{% block container %}
  <div id="container" class="submit_container" style="padding-left:2%;">
    <div class="resetpassword">
      <form method="post" class="resetpassword_form">
        <fieldset>
          <div class="grouping">
            {{ form.newpassword.label }}
            <div class="input">  
             {{ form.newpassword(size=30, placeholder="••••••••", autofocus=true) }}
            </div>
          </div>
          <div class="grouping">
            {{ form.verifypassword.label }}
            <div class="input">  
              {{ form.verifypassword(size=30, placeholder="••••••••") }}
            </div>
          </div>
        </fieldset>
        <div class="error" style="font-size:10px;"></div>
        <input type="button" value="Submit" id="Submit"/>
      </form>
    <div>
  <div>
{% endblock %}
