{% extends "layout.html" %}
{% block title %}{{ gettext("Change Password") }} - {% endblock %}
{% block container %}
  <div id="container" class="edit_container">
    <div class="changepasswordform">
      <h2>Change Password</h2> 
      <form action="{{ url_for('change_password') }}" method="post">   
        <div class="form_section">
          {{ form.currentpw.label }} {{ form.currentpw() }}

          {% if current_pw_error %}
            <div style="font-size:10px;">{{ current_pw_error }}</div>
          {% endif %}

          {% for field_name, field_errors in form.errors.items() if field_errors %}
            {% if field_name == "currentpw" %}
              {% for error in field_errors %}
              <div style="font-size:10px;">{{ error }}</div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="form_section">
          {{ form.newpw.label }} {{ form.newpw() }}
       
          {% for field_name, field_errors in form.errors.items() if field_errors %}
            {% if field_name == "newpw" %}
              {% for error in field_errors %}
              <div style="font-size:10px;">{{ error }}</div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="form_section">
          {{ form.confirm_newpw.label }} {{ form.confirm_newpw() }}

          {% for field_name, field_errors in form.errors.items() if field_errors %}
            {% if field_name == "confirm_newpw" %}
              {% for error in field_errors %}
              <div style="font-size:10px;">{{ error }}</div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <input type="submit" value="Save">
      </form> 
    </div>
  <div>
{% endblock %}
